<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>GUC后台</title>
    <style>
        .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
            color: #fff;
            background-color: #151719;
        }

    </style>
</head>
<body>
<div class="container">
    <div class="row clearfix">
    
    	<div th:replace="common_header"></div>
 
        <div class="col-md-10 column">     
            <div class="" id="usercontent">
                <p th:text="'你好, ' + ${name} + '!'"/>
                <p>登录成功</p>
            </div>
            <div>
                <div id="alluser">
                </div>
                <div id="uploadimg">
                <form id="upload_form" enctype="multipart/form-data" action="uploadfiles">

                    <div class="form-group" id="myfiles">
                        <div id="pidpid"></div>
                        <input id="file-zh" name="files" type="file"
                               data-preview-file-type="any"/>
                        <!--
                        <input id="file-my" class="file" name="files" type="file" multiple data-preview-file-type="any"
                         data-upload-url="uploadfiles?parentid=0"> -->
                    </div>
                </form>
                </div>
            </div>
            </div>
        </div>  
        
         
    </div>
    

	<div th:replace="common_foot"></div>
</body>
</html>